<!DOCTYPE html>
<html>
<head>
	<title>Congratulations</title>
	<link rel="stylesheet" href="graduate.css">
</head>
<body>
<p>
	<h2>Congratulations to our graduates</h2>
	<ol>
	<% @students.each do |student| %>
		<% if student['name'].length > 15 %>
			<li> Contratulations to <%= student['name']%>
			from <%= student['campus']%>
			</li>
		<%end%>
	<%end%> 
	</ol>
</p>

</body>
</html>