.octopus {
	position: fixed;
	margin: 120px 500px 500px 500px;
  z-index: -1 ;
  }
.hat {
 position: fixed;
    margin: 40px 500px 500px 470px;
}

.glasses {
	position: relative;
    left: 540px;
    top:275px;
}