.octopus {
	position: relative;
    left: 400px;
  z-index: -1 ;
  }
.hat {
 position: relative;
    left: 377px;
    top:80px;
}

.glasses {
	position: relative;
    left: 440px;
    top:325px;
}