.day1 {
	background-color : #FFFDE9;
}

.day2 {
	background-color : #FAF4C4;
}


.day3 {
	background-color : #FAF1A6;
}


.day4 {
	background-color : #F9EA72;
}


.day5 {
	background-color : #F3DE43;
}

.day6 {
	background-color :#F3B543;
}

.day7 {
	background-color :#D88F0A;
}

